html{
    height: 100%;

}
body{
    margin: 0;
    padding: 0;
    background: rgb(65,9,125);
    background: linear-gradient(90deg, rgba(65,9,125,1) 8%, rgba(164,6,12,1) 51%, rgba(0,0,0,1) 95%);
}
.contenedor{
    margin: 50px auto;
    width: 300px;
    padding: 30px;
    background: rgba(0,0,0, .5);
    border-radius: 30px;
      
}
.contenedor h2{
    margin: 0 0 30px;
    padding: 0;
    font-size: 30px;
    color: aliceblue;
    text-align: center;
}

.contenedor .elementos label{
    
    color: aliceblue; 

}
.contenedor .elementos input{
    
    width: 100%;
    padding: 10px 0;
    color: white;
    background:transparent ;
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 30px;

}
.contenedor .elementos input[type="submit"]{
    background-color:#340103 ;
    border: none;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    margin-top: 30px;
}